footer {
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .text-right {
    text-align: left;
    color: #EEE;
  }
  
  .footer-center {
    text-align: center;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
    text-decoration: none;
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-list li a {
    color: #eee;
    text-decoration: none;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .contact-info {
    text-align: center;
  }
  
  .location {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
    line-height: 30px;
  }
  
  .location i {
    color: #ffbd39 !important;
    margin-right: 10px;
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .location p {
    margin-right: 10px;
    font-size: 17px;
  }
  
  .location a {
    margin-right: 10px;
    font-size: 17px;
    text-decoration: none;
    color: white;
  }
  
  .location a:hover {
    color: #c0ab83;
  }
  .footer-icons{
    margin-top: 25px;
  }
.footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 20px;
    color: #ffbd39;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-icons a:hover{
  color: #c0ab83;

}
  /* Media Query for screens smaller than 768px */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-right {
      text-align: center;
    }
  
    .footer-left,
    .footer-right {
      margin-bottom: 20px;
      /* Adjust the spacing as needed */
      text-align: center;
    }
  
    .footer-list {
      margin-bottom: 20px;
      /* Adjust the spacing as needed */
    }
  
    .social-icons {
      margin-left: 0;
      margin-top: 10px;
      /* Adjust the spacing as needed */
    }
    .location {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        color: white;
        line-height: 30px;
      }
      .location i{
        font-size: 25px;
        line-height: 25px;
      }
      .location p{
        font-size: 15px;
      }
      .location a{
        font-size: 15px;
      }
  }
  
  .footer-company-name{
    color: #EEE;
  }