.footer-distributed {
    background: #1B1B1B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    /* vertical-align: top; */
}

.footer-left {
    text-align: center;
    float: left;
}
.footer-left p{
    /* text-align: center; */
    float: left;
}
.footer-right .footer-links {

 justify-content: center;
 display: flex;
 align-items: center;
 text-align: justify;
}

.footer-left .footer-company-name {
    text-align: left;
}

/* Footer left */
/* .footer-distributed .footer-left {
    width: 30%;
} */
/* .footer-distributed .footer-right {
    width: 30%;
    

} */


/* Footer links */
.footer-distributed .footer-links {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-distributed .footer-links a {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #eee;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed a {
    color: #eee;
    list-style: none;
}
/* Footer Center */
.footer-distributed .footer-center {
    width: 20%;
    
}
.footer-distributed .footer-center i {
    /* background-color:  #33383B; */
    /* color: #FFFFFF; */
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #FFFFFF;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    /* content: "|"; */
    font-weight: 300;
    font-size: 20px;
    /* left: 0; */
    color: #fff;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    /* content: none; */
    
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999F;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* background-color:  #33383B; */
    border-radius: 2px;
    font-size: 20px;
    color: #ffbd39;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


/* Contact Form */
.col {
    color: #ffbd39;
}

.text-center {
    font-weight: bold;
}

label {
    color: #EEE;
    font-size: 15px;
}

#con_pad {
    padding: 10px !important;
}

#submit_button {
    padding-top: 10px !important;
}

/* #submit_btn {
    height: 50px;
    width: 100px;
    background-color: #ffbd39;
    color: #EEE;
    border: none;
} */
